.DS_Store

private/
target/

comparisons/*
!comparisons/*.txt
additional_data/*
!additional_data/query_5131_additional_data_2023-04-15.csv
query_results/*
!query_results/query_5131_results_2023-04-15.csv
query_text/*
!query_text/systematic_review_query.txt